#links {
  background-color: lightgray;
}
#firstSection {
  background-image: url("images/coversharks-web-hero.jpg");
}
#secondSection {
  background-color: white;
}
#thirdSection {
  background-image: url("images/bkgrnd.svg");
}
#fourthSection {
  background-color: white;
}
